/* POLICE */

@font-face {
  font-family: "raleway";
  src: url("fonts/raleway-regular-webfont.eot");
  src: url("fonts/raleway-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/raleway-regular-webfont.woff2") format("woff2"),
    url("fonts/raleway-regular-webfont.woff") format("woff"),
    url("fonts/raleway-regular-webfont.ttf") format("truetype"),
    url("fonts/raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* BODY */

#bloc_page {
  width: auto;
  margin-left: 40px;
  margin-right: 40px;
  font-family: "raleway";
}

/* HEADER/NAVIGATION */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-weight: bold;
}

nav { 
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;   
}

.menu {
  display: flex;
  width: 300px;
}

.nav-element {
  padding-top: 20px;
  color: #0065fc;
}
.menu-element {
  border-top: 2px solid transparent;
  width: 50%;
  text-align: center;
  padding-top: 20px;
  }

.menu-element:hover {
  border-top: 1px solid #0065fc;
  color: #0065fc;
}

a {
  text-decoration: none;
  color: black;
  font-weight: normal;
}

/* TITRE */

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.18em;
  font-weight: normal;
}
/* BARRE DE RECHERCHE */

.recherche {
  display: flex;
  justify-content: flex-start;
  width: 422px; height: 52px;
}

input {
  height: 52px;
  border: 0;
}



/* FILTRES */

/* FOOTER */

footer {
  height: 20%;
  background-color: #DEEBFF;  
  bottom: 0; left: 0; right: 0;
  position: absolute;  
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.apropos {
  height: 67%;
  padding-left: 2.5%;
  font-size: 0.9em;
}

.noshebergements {
  padding-right: 10%;
  font-size: 0.9em;
}

.asistance {
  padding-right: 20%;
  font-size: 0.9em;
}


ul {
  padding: 0;
}

li {
  list-style-type: none;
  font-size: 1em;  
}
