                        
                           /* Définition de la police */

@font-face 
{
font-family: 'raleway' sans-serif;
src: url('fonts/raleway-regular-webfont.eot');
src: url('fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
 url('fonts/raleway-regular-webfont.woff2') format('woff2'),
 url('fonts/raleway-regular-webfont.woff') format('woff'),
 url('fonts/raleway-regular-webfont.ttf') format('truetype'),
 url('fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
font-weight: normal;
font-style: normal;
}

                            /* Corps */




                           /* Header,Navigation */
header
{
    justify-content: auto;
    flex-wrap: wrap; 
}                           

nav ul
{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

nav li
{
    justify-content: flex-end;
    align-items: center;
    color: #0065FC;
    font-family: 'Raleway', sans-serif;
}

nav a
{   
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: black;
    justify-content: space-between;
    align-items: flex-end;
}

                            /* section */

                            /* Footer */

footer
{
    background: #F2F2F2;
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:50px;
    height:50px;
}                            
           
footer nav
{   
    
    font-family: 'raleway' sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: auto;
    margin:bottom;
}

footer a
{
    font-family: 'raleway' sans-serif;
}

footer h1
{
    font-family: 'raleway' sans-serif;
}
  
